*{
    margin: 0;
    padding:0;
    font-family: 'Special Elite', cursive;
}

:root{
    --mainColor :  rgb(158, 16, 16);
    --secColor:rgb(107, 20, 20);
    --baseColor:white;
}

body {
    flex: 1;
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.897), rgba(2, 2, 2, 0.671)),  url('../img/bg1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    
    
    
}



@media(min-width : 1025px){
    
.introText{
    color: var(--baseColor);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.logoContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    
}

@keyframes spinLogo{
    from {
        transfom:rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.logo{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    animation:spinLogo 4500ms ease-in-out alternate-reverse infinite;
    transition: 500ms ease-in;
}

.logonav{
    width: 120px;
    height: 120px;
    margin-left: 200px;
    animation:spinLogo 1500ms ease-out alternate-reverse infinite;
    transition: 500ms ease-in;
}

.normalText{
    color:var(--baseColor);
    font-size: 20px;
}

li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.pink-text{
    color: var(--secColor);
}

.paddingHeader{
    color:var(--mainColor);
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.paddingList{
    margin-left: 200px;
    list-style :disc;
    color: var(--mainColor);
}

.hugeText{
    font-size: 35px;
}

#intro {
    text-align: center;
    font-size: 75px;
    color: var(--mainColor);
}

#intro2{
    text-align: center;
    font-size: 75px;
}

#introred{
    text-align: center;
    font-size: 75px;
    color: var(--mainColor);
}

#bio{
    font-size: 26px;
}


#cursor{
    animation: blink 550ms infinite;
    font-size: 75px;
}

#welcome{
    margin-top: -20px;
}

#education{
    margin-top: 30px;
}

#lang{
    
    margin-top: 60px;
    position: relative;
    bottom: 15px;
}

#kills{
    position: relative;
    bottom: 15px;
    margin-bottom: 50px;
}

@keframes type{

}

@keyframes blink{
    to{
        opacity: 0;
        color: red;
    }
}
}


@media screen and (min-width : 320px) and  (max-width :480px){

}


@media screen and (min-width : 480px) and  (max-width :1025px){

    #intro {
        text-align: center;
        font-size: 45px;
        color: var(--mainColor);
    }

    .introText{
        color: var(--baseColor);
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    #intro2{
        text-align: center;
        font-size: 45px;
    }
    
    #introred{
        text-align: center;
        font-size: 45px;
        color: var(--mainColor);
    }
    
    
    #cursor{
        animation: blink 550ms infinite;
        font-size: 75px;
    }

    .content{
        font-size: 12px;
        margin-top: 100px;
    }

    .skillGrid{
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
        column-gap: 50px;
        row-gap:20px;
        margin-top: 0px;
    }

    #meLink{
        margin-top: 100px;
        justify-self: center;
    }

    .skillGrid{
        display: grid;
        justify-content: center;
        grid-template-rows: auto ;
        column-gap: 50px;
        row-gap:20px;
        margin-top: 150px;
    }

    .paddingHeader{
        color: var(--mainColor);
    }
    
    .hugeText{
        font-size: larger;
    }
}